<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
body {
	background-color: #E5F1FB;
	background-image: url();
	background-repeat: repeat-x;
}
</style>
</head>

<body>
<table width="500" border="1">
  <tr>
    <td width="250"><div align="center">发布人</div></td>
    <td><div align="center">小忙忙</div></td>
  </tr>
  <tr>
    <td width="250"><div align="center">联系方式</div></td>
    <td><div align="center">QQ：123456789</div></td>
  </tr>
  <tr>
    <td width="250"><div align="center">报酬</div></td>
    <td><div align="center">10积分</div></td>
  </tr>
  <tr>
    <td height="50" colspan="2">具体要求：blablabla......</td>
  </tr>
</table>
</body>
</html>
